.custom-scroll {
    overflow: auto;
  }
  
  .custom-scroll::-webkit-scrollbar {
    height: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #888;
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  